@charset "UTF-8";
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("/fonts/Montserrat/Montserrat-Regular.eot?") format("eot"), url("/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("/fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"), url("/fonts/Montserrat/Montserrat-Regular.svg#Montserrat") format("svg");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("/fonts/Montserrat/Montserrat-Medium.eot?") format("eot"), url("/fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("/fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype"), url("/fonts/Montserrat/Montserrat-Medium.svg#Montserrat") format("svg");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/Montserrat/Montserrat-MediumItalic.eot?") format("eot"), url("/fonts/Montserrat/Montserrat-MediumItalic.woff2") format("woff2"), url("/fonts/Montserrat/Montserrat-MediumItalic.woff") format("woff"), url("/fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype"), url("/fonts/Montserrat/Montserrat-MediumItalic.svg#Montserrat") format("svg");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("/fonts/Montserrat/Montserrat-Semibold.eot?") format("eot"), url("/fonts/Montserrat/Montserrat-Semibold.woff2") format("woff2"), url("/fonts/Montserrat/Montserrat-Semibold.woff") format("woff"), url("/fonts/Montserrat/Montserrat-Semibold.ttf") format("truetype"), url("/fonts/Montserrat/Montserrat-Semibold.svg#Montserrat") format("svg");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/Montserrat/Montserrat-SemiboldItalic.eot?") format("eot"), url("/fonts/Montserrat/Montserrat-SemiboldItalic.woff2") format("woff2"), url("/fonts/Montserrat/Montserrat-SemiboldItalic.woff") format("woff"), url("/fonts/Montserrat/Montserrat-SemiboldItalic.ttf") format("truetype"), url("/fonts/Montserrat/Montserrat-SemiboldItalic.svg#Montserrat") format("svg");
}
* {
  box-sizing: border-box;
}

body {
<<<<<<< HEAD
  background-color: #FBFBFB;
  color: #7d7d7d;
=======
  color: #37474F;
>>>>>>> 98e28d6... Начал делать контакты
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 500;
  min-height: 100vh;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #2F2F2F;
  font-weight: 600;
}

h1,
.h1 {
  /* Define variable for media query */
  /* Define variable for fallback */
  /* Base font size */
  font-size: 24px;
}
@media (min-width: 320px) and (max-width: 1253px) {
  h1,
.h1 {
    /* Adds a fallback for unsupported browsers */
    font-size: 33px;
    /* The fluid typography magic 🌟  */
    font-size: calc(24px + (42 - 24) * (100vw - 320px) / (1254 - 320));
  }
}
@media (min-width: 1254px) {
  h1,
.h1 {
    font-size: 42px;
  }
}

h2,
.h2 {
  /* Define variable for media query */
  /* Define variable for fallback */
  /* Base font size */
  font-size: 18px;
}
@media (min-width: 320px) and (max-width: 1253px) {
  h2,
.h2 {
    /* Adds a fallback for unsupported browsers */
    font-size: 27px;
    /* The fluid typography magic 🌟  */
    font-size: calc(18px + (36 - 18) * (100vw - 320px) / (1254 - 320));
  }
}
@media (min-width: 1254px) {
  h2,
.h2 {
    font-size: 36px;
  }
}

h3,
.h3 {
  /* Define variable for media query */
  /* Define variable for fallback */
  /* Base font size */
  font-size: 16px;
}
@media (min-width: 320px) and (max-width: 1253px) {
  h3,
.h3 {
    /* Adds a fallback for unsupported browsers */
    font-size: 23px;
    /* The fluid typography magic 🌟  */
    font-size: calc(16px + (30 - 16) * (100vw - 320px) / (1254 - 320));
  }
}
@media (min-width: 1254px) {
  h3,
.h3 {
    font-size: 30px;
  }
}

h4,
.h4 {
  /* Define variable for media query */
  /* Define variable for fallback */
  /* Base font size */
  font-size: 16px;
}
@media (min-width: 320px) and (max-width: 1253px) {
  h4,
.h4 {
    /* Adds a fallback for unsupported browsers */
    font-size: 20px;
    /* The fluid typography magic 🌟  */
    font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1254 - 320));
  }
}
@media (min-width: 1254px) {
  h4,
.h4 {
    font-size: 24px;
  }
}

h5,
.h5 {
  /* Define variable for media query */
  /* Define variable for fallback */
  /* Base font size */
  font-size: 16px;
}
@media (min-width: 320px) and (max-width: 1253px) {
  h5,
.h5 {
    /* Adds a fallback for unsupported browsers */
    font-size: 17px;
    /* The fluid typography magic 🌟  */
    font-size: calc(16px + (18 - 16) * (100vw - 320px) / (1254 - 320));
  }
}
@media (min-width: 1254px) {
  h5,
.h5 {
    font-size: 18px;
  }
}

h6,
.h6 {
  /* Define variable for media query */
  /* Define variable for fallback */
  /* Base font size */
  font-size: 16pxpx;
}
@media (min-width: 320px) and (max-width: 1253px) {
  h6,
.h6 {
    /* Adds a fallback for unsupported browsers */
    font-size: 16pxpx;
    /* The fluid typography magic 🌟  */
    font-size: calc(16pxpx + (16px - 16px) * (100vw - 320px) / (1254 - 320));
  }
}
@media (min-width: 1254px) {
  h6,
.h6 {
    font-size: 16pxpx;
  }
}

a {
  border-bottom: 1px solid #717CFF;
  color: #717CFF;
  text-decoration: none;
  transition: border-bottom-color 0.25s;
}
a.link--with-arrow {
  align-items: center;
  display: flex;
}
a.link--with-arrow::after {
  background-image: url(../img/icons/arrow_right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 12px;
  margin-left: 5px;
  width: 12px;
}
a:hover:not(.button) {
  border-bottom-color: transparent;
}

.color--secondary {
  color: #717CFF;
}

.content-wrapper {
  flex: 1;
}

.clear {
  clear: both;
}

.right {
  float: right;
}

.left {
  float: left;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1254px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.section {
  padding-bottom: 40px;
  padding-top: 40px;
}
@media (max-width: 420px) {
  .section {
    padding-bottom: 26px;
    padding-top: 26px;
  }
}

.swiper-pagination-bullet {
  background: rgba(124, 124, 124, 0.318837) !important;
  margin: 0 8px !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background: #717CFF !important;
}

.header {
  padding-bottom: 24px;
  padding-top: 24px;
}
.header .container {
  align-items: center;
  display: flex;
}
.header__nav {
  margin-left: auto;
}
.header__nav ul {
  display: flex;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__nav ul li {
  display: flex;
  margin-right: 40px;
  position: relative;
}
.header__nav ul li a {
  border: 0;
  color: #2F2F2F;
  display: flex;
  font-size: 14px;
  text-decoration: none;
}
.header__nav ul li a i {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/icons/arrow_down.svg);
  display: block;
  height: 10px;
  margin-left: 5px;
  margin-top: 1px;
  width: 10px;
}
.header__nav ul li ul {
  display: none;
  height: auto;
  left: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  position: absolute;
  top: 100%;
  width: 100%;
}
.header__nav ul li ul li {
  margin-bottom: 8px;
  width: 100%;
}
.header__nav ul li:hover > ul {
  display: block;
}
.header__logo {
  border: 0;
}
.header__phone {
  display: block;
  text-decoration: none;
}
.header__phone--type--mobile {
  background-color: #717CFF;
  background-image: url(../img/icons/phone.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  height: 36px;
  width: 36px;
}
.header__burger {
  background-color: #37474F;
  background-image: url(../img/icons/burger.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  height: 36px;
  margin-left: 20px;
  width: 36px;
}
@media (max-width: 1024px) {
  .header__nav {
    display: none;
  }
  .header__phone {
    margin-left: auto;
  }
  .header__burger {
    display: block;
  }
}
@media (max-width: 768px) {
  .header__phone {
    display: none;
  }
  .header__phone--type--mobile {
    display: block;
  }
}
@media (max-width: 420px) {
  .header {
    padding-bottom: 14px;
    padding-top: 14px;
  }
  .header .logo img {
    max-width: 65px;
  }
}

.nav--type--sidebar {
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.25s;
  width: 100%;
  z-index: 10;
}
.nav--state--active {
  transform: translateX(0);
  transition: transform 0.25s;
}
.nav .close-nav {
  background-color: transparent;
  border: none;
  color: #37474F;
  font-size: 24px;
  height: 34px;
  line-height: 34px;
  padding: 0 10px;
  position: absolute;
  right: 20px;
  top: 16px;
  width: 34px;
}
.nav ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 20px;
}
.nav ul li {
  margin-bottom: 8px;
}
.nav ul li a {
  border: none;
  display: flex;
}
.nav ul li a i {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/icons/arrow_down.svg);
  display: block;
  height: 10px;
  margin-left: 5px;
  margin-top: 1px;
  width: 10px;
}
.nav ul li ul {
  background-color: #fff;
  display: none;
  height: auto;
  opacity: 0;
  padding: 10px 0;
  transition: opacity 2s;
  width: 100%;
}
.nav ul li ul li {
  margin-bottom: 8px;
  width: 100%;
}
.nav ul li ul li:last-of-type {
  margin-bottom: 0;
}
.nav ul li ul.show {
  display: block;
  animation: fade-in 0.25s ease-in-out forwards;
}
@media (min-width: 320px) {
  .nav {
    width: 100%;
  }
}
@media (min-width: 340px) {
  .nav {
    width: 90%;
  }
}
@media (min-width: 500px) {
  .nav {
    width: 70%;
  }
}
@media (min-width: 768px) {
  .nav {
    width: 60%;
  }
}
@media (min-width: 900px) {
  .nav {
    width: 45%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hero-banner .headline {
  align-items: flex-end;
  display: flex;
}
.hero-banner .headline h1 {
  /* Define variable for media query */
  /* Define variable for fallback */
  /* Base font size */
  font-size: 20px;
  color: #2F2F2F;
  font-weight: 600;
  margin: 0;
}
@media (min-width: 320px) and (max-width: 1253px) {
  .hero-banner .headline h1 {
    /* Adds a fallback for unsupported browsers */
    font-size: 38px;
    /* The fluid typography magic 🌟  */
    font-size: calc(20px + (56 - 20) * (100vw - 320px) / (1254 - 320));
  }
}
@media (min-width: 1254px) {
  .hero-banner .headline h1 {
    font-size: 56px;
  }
}
.hero-banner .headline h1 span {
  color: #717CFF;
}
.hero-banner .headline .anchor {
  align-items: center;
  border: 0;
  color: #717CFF;
  display: flex;
  flex: none;
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: auto;
}
.hero-banner .headline .anchor .icon {
  background-image: url(../img/icons/pie.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 27px;
  margin-left: 12px;
  margin-right: 12px;
  width: 24px;
}
.hero-banner .pages-block {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 36px;
  min-height: 300px;
}
.hero-banner .pages-block .col {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
}
.hero-banner .pages-block .pages__item {
  align-items: baseline;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  font-weight: 600;
  height: 50%;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 16px;
  position: relative;
  width: 256px;
}
.hero-banner .pages-block .pages__item .background {
  position: absolute;
  right: 0px;
  top: 16px;
}
.hero-banner .pages-block .pages__item .title {
  color: #37474F;
  margin-top: auto;
  width: 57%;
}
.hero-banner .pages-block .pages__item .more {
  border: 0;
  font-size: 10px;
  font-weight: 600;
  margin-top: 12px;
}
.hero-banner .pages-block .pages__item .more.link--with-arrow::after {
  height: 8px;
  width: 8px;
}
.hero-banner .pages-block .pages__item .full-link {
  border: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.hero-banner .pages-block .pages__item--type--big {
  height: 100%;
  width: 210px;
}
.hero-banner .pages-block .pages__item--type--big .title {
  width: 100%;
}
.hero-banner .swiper-container {
  display: none;
}
.hero-banner .swiper-container .swiper-pagination {
  margin-top: 14px;
  position: static;
}
.hero-banner__subnav {
  align-items: center;
  display: flex;
  margin-top: 30px;
}
.hero-banner__subnav .title {
  color: #37474F;
  flex: none;
  line-height: 1.4;
  letter-spacing: 1.6px;
  margin: 0;
  margin-right: 38px;
  opacity: 0.7;
  text-transform: uppercase;
}
.hero-banner__subnav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.hero-banner__subnav ul li {
  flex: none;
  margin-right: 22px;
  padding: 8px 16px;
}
.hero-banner__subnav ul li a {
  border: none;
  font-size: 14px;
}
.hero-banner__subnav ul li:hover a {
  color: #fff;
}
@media (max-width: 1254px) {
  .hero-banner .pages-block {
    flex-wrap: wrap;
  }
  .hero-banner .pages-block .col {
    width: 33.3333%;
  }
  .hero-banner .pages-block .col:nth-of-type(4), .hero-banner .pages-block .col:nth-of-type(5) {
    width: 50%;
  }
  .hero-banner .pages-block .pages__item {
    min-height: 145px;
    width: auto;
  }
  .hero-banner .pages-block .pages__item--type--big {
    min-height: initial;
    width: auto;
  }
  .hero-banner__subnav {
    align-items: initial;
    flex-direction: column;
  }
  .hero-banner__subnav .title {
    margin-bottom: 18px;
  }
  .hero-banner__subnav ul {
    flex-wrap: wrap;
  }
  .hero-banner__subnav ul li {
    margin-bottom: 15px;
    margin-right: 15px;
  }
}
@media (max-width: 767px) {
  .hero-banner .pages-block .col {
    width: 50%;
  }
  .hero-banner .pages-block .col:nth-of-type(5) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .hero-banner .pages-block .col:nth-of-type(5) .pages__item {
    width: calc(50% - 5px);
  }
  .hero-banner .pages-block .pages__item {
    min-height: 160px;
  }
  .hero-banner .pages-block .pages__item--type--big .title {
    width: 50%;
  }
}
@media (max-width: 580px) {
  .hero-banner .pages-block {
    display: none;
  }
  .hero-banner .swiper-container {
    display: block;
  }
  .hero-banner .swiper-container .pages-block {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    min-height: initial;
  }
  .hero-banner .swiper-container .pages-block .col {
    padding: 0;
    width: 100%;
  }
  .hero-banner .swiper-container .pages-block .pages__item {
    margin-bottom: 0;
  }
  .hero-banner__subnav ul {
    display: grid;
    column-gap: 15px;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 15px;
  }
  .hero-banner__subnav ul li {
    align-items: center;
    display: flex;
    height: 65px;
    justify-content: center;
    margin: 0;
  }
  .hero-banner__subnav ul li a {
    text-align: center;
  }
}
@media (max-width: 420px) {
  .hero-banner .headline {
    align-items: baseline;
    flex-direction: column;
  }
  .hero-banner .headline .anchor {
    font-size: 12px;
    margin-left: initial;
    margin-top: 12px;
  }
  .hero-banner .headline .anchor .icon {
    height: 12px;
    margin-left: 0;
    margin-right: 7px;
    width: 14px;
  }
  .hero-banner .pages-block {
    margin-top: 18px;
  }
  .hero-banner__subnav .title {
    font-size: 14px;
  }
  .hero-banner__subnav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    column-gap: 15px;
  }
  .hero-banner__subnav ul li {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 60px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .hero-banner__subnav ul li a {
    padding: 0;
  }
}
@media (max-width: 320px) {
  .hero-banner__subnav ul li {
    height: auto;
    min-height: 50px;
  }
  .hero-banner__subnav ul li a {
    font-size: 11px;
  }
}

.reasons {
  padding-top: 0;
  padding-bottom: 0;
}
.reasons .section-heading {
  margin: 0;
  width: 50%;
}
.reasons .row {
  display: flex;
  margin-top: 48px;
  padding-bottom: 200px;
}
.reasons .row .col--left {
  width: 40%;
}
.reasons .row .col--left ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.reasons .row .col--left ul li {
  align-items: baseline;
  color: #7D7D7D;
  display: flex;
  margin-bottom: 28px;
}
.reasons .row .col--left ul li::before {
  background-image: url(../../img/icons/marker.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  flex: none;
  height: 24px;
  margin-right: 20px;
  position: relative;
  top: 6px;
  width: 24px;
}
.reasons .row .col--right {
  position: relative;
  width: 60%;
}
.reasons .row .col--right img {
  bottom: -200px;
  height: 580px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
}
.reasons .row .col--right .bg {
  bottom: -200px;
  position: absolute;
  left: 0;
  overflow: hidden;
  right: 0;
  width: 100%;
}
.reasons .row .col--right .bg::after {
  background: linear-gradient(189.79deg, #8471FF 8.03%, #717CFF 53.55%);
  border-radius: 50%;
  bottom: -140px;
  content: "";
  display: block;
  height: 480px;
  opacity: 0.7;
  position: relative;
  width: 100%;
}
@media (max-width: 1024px) {
  .reasons .section-heading {
    width: 55%;
  }
  .reasons .row {
    margin-top: 28px;
    padding-bottom: 0;
  }
  .reasons .row .col--left ul li {
    margin-bottom: 12px;
  }
  .reasons .row .col--left ul li::before {
    margin-right: 15px;
  }
  .reasons .row .col--right img {
    bottom: 0;
    height: 400px;
  }
  .reasons .row .col--right .bg {
    bottom: 0;
    padding-left: 70px;
  }
  .reasons .row .col--right .bg::after {
    bottom: -115px;
    height: 350px;
  }
}
@media (max-width: 768px) {
  .reasons .row {
    display: block;
  }
  .reasons .row .col--left,
.reasons .row .col--right {
    width: 100%;
  }
  .reasons .row .col--right {
    margin-top: 40px;
    text-align: center;
  }
  .reasons .row .col--right img {
    display: block;
    position: relative;
  }
  .reasons .row .col--right .bg {
    margin: 0 auto;
    max-width: 560px;
    padding-left: 0;
  }
}
@media (max-width: 420px) {
  .reasons .section-heading {
    width: 100%;
  }
  .reasons .row {
    display: block;
    margin-top: 18px;
    padding-bottom: 0;
  }
  .reasons .row .col--left {
    width: 100%;
  }
  .reasons .row .col--left ul li {
    font-size: 10px;
    margin-bottom: 8px;
  }
  .reasons .row .col--left ul li::before {
    margin-right: 12px;
    height: 16px;
    top: 4px;
    width: 16px;
  }
  .reasons .row .col--right {
    margin-top: 24px;
    width: 100%;
  }
  .reasons .row .col--right img {
    bottom: 0;
    display: block;
    height: 240px;
    margin: 0 auto;
    position: relative;
  }
  .reasons .row .col--right .bg {
    bottom: 0;
  }
  .reasons .row .col--right .bg::after {
    bottom: -115px;
    height: 240px;
  }
}

<<<<<<< HEAD
.qwestions {
  padding-top: 0;
  padding-bottom: 0;
  background: #F1F1F1;
}
.qwestions .qwestions-block {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
}
.qwestions .qwestions-block .row {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
}
.qwestions .qwestions-block .row .col {
  display: flex;
  flex-direction: column;
}
.qwestions .qwestions-block .row .col:nth-child(1) {
  margin-right: 40px;
}
.qwestions .qwestions-block .row .col:nth-child(3) {
  margin-left: 40px;
}
.qwestions .qwestions-block .qwestions__item {
  width: 380px;
  background: #FFFFFF;
  display: flex;
  border-radius: 15px;
  padding: 24px;
  height: 100%;
  position: relative;
}
.qwestions .qwestions-block .qwestions__item .qwestions__item--text {
  display: flex;
  flex-direction: column;
  margin-right: 46px;
  font-size: 12px;
  color: #7D7D7D;
  line-height: 20px;
}
.qwestions .qwestions-block .qwestions__item .qwestions__item--text .title {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 600;
  font-size: 16px;
  color: #37474F;
  line-height: 22px;
}
.qwestions .qwestions-block .qwestions__item .qwestions__item--text .more {
  border: 0;
  font-size: 10px;
  font-weight: 600;
  margin-top: 0px;
}
.qwestions .qwestions-block .qwestions__item .qwestions__item--text .full-link {
  border: none;
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.qwestions .qwestions-block .qwestions__item .qwestions__item--text .more.link--with-arrow:after {
  height: 8px;
  width: 8px;
}
.qwestions .qwestions-block .qwestions__item .qwestions__item--icon {
  display: flex;
  align-items: flex-start;
}
.qwestions .swiper-container {
  display: none;
}
.qwestions .swiper-container .swiper-pagination {
  margin-top: 10px;
  margin-bottom: 15px;
  position: static;
}
@media (max-width: 580px) {
  .qwestions .qwestions-block {
    display: none;
  }
  .qwestions .swiper-container {
    display: block;
  }
  .qwestions .swiper-container .qwestions-block {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    min-height: initial;
  }
  .qwestions .swiper-container .qwestions-block .col {
    padding: 0;
    width: 100%;
    margin: auto;
  }
  .qwestions .swiper-container .qwestions-block .qwestions__item {
    margin-top: 15px;
  }
  .qwestions .swiper-container .qwestions-block .qwestions__item .qwestions__item--text {
    font-size: 10px;
    line-height: 18px;
    margin-right: 5px;
  }
  .qwestions .swiper-container .qwestions-block .qwestions__item .qwestions__item--text .title {
    font-size: 12px;
    line-height: 16px;
  }
  .qwestions .swiper-container .qwestions-block .qwestions__item .qwestions__item--icon .icon {
    width: 25px;
  }
}
@media (max-width: 1254px) {
  .qwestions .qwestions-block {
    flex-wrap: wrap;
    height: auto;
  }
  .qwestions .qwestions-block .row .col {
    width: 33.3333%;
  }
  .qwestions .qwestions-block .row .col:nth-child(1) {
    margin-right: 16px;
  }
  .qwestions .qwestions-block .row .col:nth-child(3) {
    margin-left: 16px;
  }
  .qwestions .qwestions-block .qwestions__item {
    width: auto;
    padding: 15px;
  }
  .qwestions .qwestions-block .qwestions__item .qwestions__item--text {
    font-size: 10px;
    line-height: 15px;
    margin-right: 10px;
  }
  .qwestions .qwestions-block .qwestions__item .qwestions__item--text .title {
    font-size: 12px;
    line-height: 16px;
  }
  .qwestions .qwestions-block .qwestions__item .qwestions__item--icon .icon {
    width: 25px;
  }
}

=======
.compare {
  padding-bottom: 0;
}
>>>>>>> 9d0c2e5... Небольшие фиксы, начал работу над блоком с консультацией
.compare .section-heading {
  /* Define variable for media query */
  /* Define variable for fallback */
  /* Base font size */
  font-size: 10px;
  color: #37474F;
  margin: 0;
  margin-bottom: 34px;
  opacity: 0.73;
  text-transform: uppercase;
}
@media (min-width: 320px) and (max-width: 1253px) {
  .compare .section-heading {
    /* Adds a fallback for unsupported browsers */
    font-size: 14px;
    /* The fluid typography magic 🌟  */
    font-size: calc(10px + (18 - 10) * (100vw - 320px) / (1254 - 320));
  }
}
@media (min-width: 1254px) {
  .compare .section-heading {
    font-size: 18px;
  }
}
.compare table {
  width: 100%;
}
.compare table thead th {
  color: #37474F;
  font-size: 22px;
  font-weight: 600;
  text-align: left;
  padding: 30px 0;
}
.compare table tbody td {
  line-height: 1.4;
  padding: 18px 7px;
}
.compare table tbody td:nth-of-type(1) {
  /* Define variable for media query */
  /* Define variable for fallback */
  /* Base font size */
  font-size: 12px;
  color: #37474F;
  font-weight: 600;
}
@media (min-width: 320px) and (max-width: 1253px) {
  .compare table tbody td:nth-of-type(1) {
    /* Adds a fallback for unsupported browsers */
    font-size: 15px;
    /* The fluid typography magic 🌟  */
    font-size: calc(12px + (18 - 12) * (100vw - 320px) / (1254 - 320));
  }
}
@media (min-width: 1254px) {
  .compare table tbody td:nth-of-type(1) {
    font-size: 18px;
  }
}
.compare table tbody td:nth-of-type(2) {
  /* Define variable for media query */
  /* Define variable for fallback */
  /* Base font size */
  font-size: 10px;
  color: #7D7D7D;
}
@media (min-width: 320px) and (max-width: 1253px) {
  .compare table tbody td:nth-of-type(2) {
    /* Adds a fallback for unsupported browsers */
    font-size: 14px;
    /* The fluid typography magic 🌟  */
    font-size: calc(10px + (18 - 10) * (100vw - 320px) / (1254 - 320));
  }
}
@media (min-width: 1254px) {
  .compare table tbody td:nth-of-type(2) {
    font-size: 18px;
  }
}
.compare table tbody td:nth-of-type(3) {
  /* Define variable for media query */
  /* Define variable for fallback */
  /* Base font size */
  font-size: 10px;
  color: #717CFF;
}
@media (min-width: 320px) and (max-width: 1253px) {
  .compare table tbody td:nth-of-type(3) {
    /* Adds a fallback for unsupported browsers */
    font-size: 14px;
    /* The fluid typography magic 🌟  */
    font-size: calc(10px + (18 - 10) * (100vw - 320px) / (1254 - 320));
  }
}
@media (min-width: 1254px) {
  .compare table tbody td:nth-of-type(3) {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .compare .section-heading {
    margin-bottom: 8px;
  }
}
@media (max-width: 768px) {
  .compare .section-heading {
    margin-bottom: 32px;
  }
  .compare table {
    display: block;
  }
  .compare table thead {
    display: none;
  }
  .compare table tbody {
    display: block;
  }
  .compare table tbody tr {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
  }
  .compare table tbody tr td {
    padding: 0 5px;
  }
  .compare table tbody tr td:nth-of-type(1) {
    margin-bottom: 8px;
    width: 100%;
  }
  .compare table tbody tr td:nth-of-type(2), .compare table tbody tr td:nth-of-type(3) {
    flex: 1;
  }
  .compare table tbody tr td:nth-of-type(2)::before, .compare table tbody tr td:nth-of-type(3)::before {
    content: attr(data-label);
    color: #7D7D7D;
    display: block;
    margin-bottom: 3px;
  }
}
@media (max-width: 500px) {
  .compare .section-heading {
    margin-bottom: 20px;
  }
  .compare table tbody tr td {
    padding: 0;
  }
  .compare table tbody tr td:nth-of-type(2) {
    padding-right: 5px;
  }
  .compare table tbody tr td:nth-of-type(3) {
    padding-left: 5px;
  }
}

.consultation {
  overflow: hidden;
  padding-bottom: 0;
  padding-top: 0;
}
.consultation .section-heading {
  /* Define variable for media query */
  /* Define variable for fallback */
  /* Base font size */
  font-size: 18px;
}
@media (min-width: 320px) and (max-width: 1253px) {
  .consultation .section-heading {
    /* Adds a fallback for unsupported browsers */
    font-size: 24px;
    /* The fluid typography magic 🌟  */
    font-size: calc(18px + (30 - 18) * (100vw - 320px) / (1254 - 320));
  }
}
@media (min-width: 1254px) {
  .consultation .section-heading {
    font-size: 30px;
  }
}
.consultation .container {
  padding-bottom: 120px;
  padding-top: 120px;
}
.consultation .row {
  display: flex;
  padding: 32px 88px;
  position: relative;
}
.consultation .row .col {
  padding: 15px 0;
  position: relative;
}
.consultation .row .col--left {
  width: 30%;
}
.consultation .row .col--right {
  width: 70%;
}
.consultation .row::before {
  background: linear-gradient(189.79deg, #8471FF 8.03%, #717CFF 53.55%);
  bottom: 0;
  border-radius: 25px;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.75;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.consultation img {
  left: -65%;
  position: absolute;
  top: -70%;
}
.consultation p {
  color: #fff;
  line-height: 1.4;
  margin: 1rem 0;
  text-shadow: 0px 1px 1px #4E429A;
}
.consultation p:not(.section-heading) {
  max-width: 410px;
}
.consultation form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}
.consultation form .form-control {
  margin-right: 10px;
  max-width: 243px;
  width: 100%;
}
@media (min-width: 769px) {
  .consultation form button[type=submit] span {
    display: none;
  }
  .consultation form button[type=submit]::after {
    margin-left: 0;
  }
}
@media (max-width: 1200px) {
  .consultation .row .col--left img {
    max-width: 55vw;
    top: -63%;
  }
}
@media (max-width: 1070px) {
  .consultation .row .col--left img {
    max-width: 55vw;
    top: -54%;
  }
}
@media (max-width: 1024px) {
  .consultation .section-heading {
    margin-top: 0;
  }
  .consultation .row .col {
    padding: 0;
  }
  .consultation .row .col--left img {
    left: -89%;
    max-width: 64vw;
    top: -84%;
  }
  .consultation form .form-control {
    max-width: 230px;
  }
}
@media (max-width: 960px) {
  .consultation {
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .consultation .container {
    padding-bottom: 0;
    padding-top: 0;
  }
  .consultation .row {
    padding: 32px 50px;
  }
  .consultation .row .col--left {
    display: none;
  }
  .consultation .row .col--right {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .consultation .form-control {
    flex: 1;
    max-width: initial;
  }
  .consultation button[type=submit] {
    flex: 1;
  }
}
@media (max-width: 640px) {
  .consultation form .form-control {
    flex: none;
    margin-bottom: 15px;
    width: calc(50% - 10px);
  }
  .consultation form .form-control:last-of-type {
    margin-right: 0;
  }
  .consultation form button[type=submit] {
    flex: none;
    width: auto;
  }
}
@media (max-width: 520px) {
  .consultation form .form-control {
    margin-right: 0;
    max-width: initial;
    width: 100%;
  }
  .consultation form button[type=submit] {
    flex: none;
    width: auto;
  }
}
@media (max-width: 420px) {
  .consultation .container {
    padding-left: 8px;
    padding-right: 8px;
  }
  .consultation .row {
    padding: 15px 20px;
  }
  .consultation form .form-control {
    font-size: 14px;
  }
  .consultation form button[type=submit] {
    font-size: 14px;
  }
  .consultation p:not(.section-heading) {
    color: #4B52A8;
    font-size: 14px;
    text-shadow: none;
  }
}

form .form-control {
  background-color: #fff;
  border: 1px solid #717CFF;
  border-radius: 11px;
  color: #7D7D7D;
  font-size: 18px;
  outline: none;
  padding: 20px 24px;
}
form .legal {
  color: #313782;
  display: block;
  font-size: 12px;
  margin-top: 10px;
}
form .legal a {
  border-bottom: 1px solid currentColor;
  color: #313782;
}
form button[type=submit] {
  align-items: center;
  display: flex;
  padding: 20px 24px;
}
form button[type=submit]::after {
  background-image: url(../img/icons/arrow_right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 16px;
  margin-left: 12px;
  width: 18px;
}
form .terms-and-conditions {
  align-items: center;
  display: flex;
  margin-top: 16px;
}
form .terms-and-conditions .fake-checkbox {
  flex: none;
  margin-right: 20px;
}
@media (max-width: 768px) {
  form .form-control {
    font-size: 16px;
    max-width: initial;
    padding: 16px 20px;
  }
  form button[type=submit] {
    padding: 16px 20px;
  }
}

.contacts {
  background-color: #FAFAFA;
  min-height: 680px;
  padding-top: 70px;
  position: relative;
}
.contacts .container {
  position: relative;
  z-index: 1;
}
.contacts .section-heading {
  margin-bottom: 0;
  margin-top: 0;
}
.contacts p.hours {
  margin-bottom: 0;
  margin-top: 8px;
  line-height: 1.5;
}
.contacts .contacts-list {
  margin-top: 24px;
}
.contacts .contacts-list__item {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}
.contacts .contacts-list__item--type--local::before {
  background-image: url(../img/local.svg);
  background-size: 34px;
}
.contacts .contacts-list__item--type--phone::before {
  background-image: url(../img/phone.svg);
  background-size: 15px 24px;
}
.contacts .contacts-list__item--type--email::before {
  background-image: url(../img/email.svg);
  background-size: 24px;
}
.contacts .contacts-list__item::before {
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 24px;
  order: 0;
  width: 24px;
}
.contacts .contacts-list__item::after {
  background-color: #D6DDE5;
  content: "";
  display: block;
  height: 16px;
  margin: 0 14px 0 18px;
  order: 1;
  width: 1px;
}
.contacts .contacts-list__item span {
  font-weight: 400;
  order: 2;
}
.contacts form {
  margin-top: 40px;
  width: 375px;
}
.contacts form .form-control {
  margin-bottom: 15px;
  width: 100%;
}
.contacts form button[type=submit] {
  justify-content: center;
  width: 100%;
}
.contacts .map {
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.footer {
  background-color: #292828;
  padding: 36px 0;
}
.footer .container {
  display: flex;
}
.footer .footer__logo {
  /* Define variable for media query */
  /* Define variable for fallback */
  /* Base font size */
  font-size: 18px;
  align-items: center;
  border: 0;
  color: #fff;
  display: flex;
  text-decoration: none;
}
@media (min-width: 320px) and (max-width: 1253px) {
  .footer .footer__logo {
    /* Adds a fallback for unsupported browsers */
    font-size: 21px;
    /* The fluid typography magic 🌟  */
    font-size: calc(18px + (24 - 18) * (100vw - 320px) / (1254 - 320));
  }
}
@media (min-width: 1254px) {
  .footer .footer__logo {
    font-size: 24px;
  }
}
.footer .footer__logo span {
  display: block;
  margin-left: 24px;
}
.footer .anchor {
  /* Define variable for media query */
  /* Define variable for fallback */
  /* Base font size */
  font-size: 16px;
  align-items: center;
  border: 0;
  color: #717CFF;
  display: flex;
  margin-left: 48px;
  text-decoration: none;
}
@media (min-width: 320px) and (max-width: 1253px) {
  .footer .anchor {
    /* Adds a fallback for unsupported browsers */
    font-size: 17px;
    /* The fluid typography magic 🌟  */
    font-size: calc(16px + (18 - 16) * (100vw - 320px) / (1254 - 320));
  }
}
@media (min-width: 1254px) {
  .footer .anchor {
    font-size: 18px;
  }
}
.footer .anchor.link--with-arrow::after {
  height: 16px;
  margin-left: 13px;
  width: 16px;
}
.footer .footer__headline {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.footer .footer__nav {
  flex: 1;
  margin-left: auto;
}
.footer .footer__nav ul {
  display: flex;
  height: 100%;
  list-style: none;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}
.footer .footer__nav ul li {
  display: flex;
  margin-right: 40px;
  position: relative;
}
.footer .footer__nav ul li a {
  border: 0;
  color: #fff;
  display: flex;
  font-size: 14px;
  text-decoration: none;
}
.footer .footer__nav ul li a i {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/icons/arrow_down.svg);
  display: block;
  height: 10px;
  margin-left: 5px;
  margin-top: 1px;
  width: 10px;
}
.footer .footer__nav ul li ul {
  display: none;
  height: auto;
  left: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  position: absolute;
  top: 100%;
  width: 100%;
}
.footer .footer__nav ul li ul li {
  margin-bottom: 8px;
  width: 100%;
}
.footer .footer__nav ul li:hover > ul {
  display: block;
}
.footer .footer__nav ul li:last-of-type {
  margin-right: 0;
}
.footer .phone-wrapper {
  margin-top: 25px;
}
.footer .footer__text-wrapper {
  color: #7D7D7D;
  display: flex;
  font-size: 12px;
  margin-top: 36px;
}
.footer .footer__text-wrapper .col-left {
  flex: 1;
  padding-right: 24px;
}
.footer .footer__text-wrapper .col-right {
  flex: 1;
  padding-left: 24px;
}
.footer .phone-wrapper {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  width: 100%;
}
.footer .footer__bottom--type--mobile {
  display: none;
}
@media (max-width: 1024px) {
  .footer .footer__text-wrapper {
    flex-direction: column;
  }
  .footer .footer__text-wrapper .col-left,
.footer .footer__text-wrapper .col-right {
    padding: 0;
  }
  .footer .phone-wrapper {
    order: 1;
    margin-top: 0;
    width: auto;
  }
  .footer .footer__nav {
    margin-left: auto;
    margin-top: 24px;
    order: 2;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .footer .footer__logo span {
    display: none;
  }
  .footer .anchor {
    display: none;
  }
  .footer .phone-wrapper {
    margin-left: auto;
  }
  .footer .footer__nav {
    flex: none;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .footer .footer__nav {
    margin-top: 48px;
  }
  .footer .footer__nav ul {
    flex-direction: column;
  }
  .footer .footer__nav ul li {
    margin-bottom: 14px;
  }
}
@media (max-width: 500px) {
  .footer {
    padding: 16px 0;
  }
  .footer .footer__logo img {
    max-width: 60px;
  }
  .footer .phone-wrapper {
    width: auto;
  }
  .footer .footer__text-wrapper {
    display: none;
  }
  .footer .footer__bottom--type--mobile {
    border-top: 1px solid #8f8f8f;
    display: block;
    margin-top: 16px;
    padding-top: 10px;
  }
}
@media (max-width: 420px) {
  .footer .phone-wrapper {
    font-size: 12px;
  }
}

button,
.button {
  background-color: #FFF;
  border: 2px solid #717CFF;
  border-radius: 11px;
  color: #717CFF;
  cursor: pointer;
  padding: 10px 23px;
  transition: background-color 0.25s;
}
button:hover, button--state--active,
.button:hover,
.button--state--active {
  background-color: #717CFF;
  color: #FFF;
}
button--style--blank,
.button--style--blank {
  background-color: transparent;
  border-color: #717CFF;
  color: #fff;
  text-decoration: none;
}

.fake-checkbox {
  background: #717CFF;
  border-radius: 50px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  height: 30px;
  position: relative;
  width: 69px;
}
.fake-checkbox label {
  background: #F9F9FB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 35px;
  left: -2px;
  position: absolute;
  top: -3px;
  transition: all 0.4s ease;
  width: 35px;
}
.fake-checkbox input[type=checkbox] {
  bottom: 0;
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.fake-checkbox input[type=checkbox]:checked + label {
  left: 35px;
}