.footer {
  background-color: #292828;
  padding: 36px 0;

  .container {
    display: flex;
  }

  .footer__logo {
    @include font-size(18, 24);
    align-items: center;
    border: 0;
    color: #fff;
    display: flex;
    text-decoration: none;

    span {
      display: block;
      margin-left: 24px;
    }
  }

  .anchor {
    @include font-size(16, 18);
    align-items: center;
    border: 0;
    color: $secondary;
    display: flex;
    margin-left: 48px;
    text-decoration: none;

    &.link--with-arrow::after {
      height: 16px;
      margin-left: 13px;
      width: 16px;
    }
  }

  .footer__headline {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .footer__nav {
    flex: 1;
    margin-left: auto;

    ul {
      display: flex;
      height: 100%;
      list-style: none;
      justify-content: flex-end;
      margin: 0;
      padding: 0;

      li {
        display: flex;
        margin-right: 40px;
        position: relative;

        a {
          border: 0;
          color: #fff;
          display: flex;
          font-size: 14px;
          text-decoration: none;

          i {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(../img/icons/arrow_down.svg);
            display: block;
            height: 10px;
            margin-left: 5px;
            margin-top: 1px;
            width: 10px;
          }
        }

        ul {
          display: none;
          height: auto;
          left: 0;
          padding-bottom: 10px;
          padding-top: 10px;
          position: absolute;
          top: 100%;
          width: 100%;

          li {
            margin-bottom: 8px;
            width: 100%;
          }
        }

        &:hover {
          &>ul {
            display: block;
          }
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  .phone-wrapper {
    margin-top: 25px;
  }

  .footer__text-wrapper {
    color: #7D7D7D;
    display: flex;
    font-size: 12px;
    margin-top: 36px;

    .col-left {
      flex: 1;
      padding-right: 24px;
    }

    .col-right {
      flex: 1;
      padding-left: 24px;
    }
  }

  .phone-wrapper {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    width: 100%;
  }

  .footer__bottom--type--mobile {
    display: none;
  }

  @media (max-width: 1024px) {
    .footer__text-wrapper {
      flex-direction: column;

      .col-left,
      .col-right {
        padding: 0;
      }
    }

    .phone-wrapper {
      order: 1;
      margin-top: 0;
      width: auto;
    }

    .footer__nav {
      margin-left: auto;
      margin-top: 24px;
      order: 2;
      width: 100%;
    }
  }

  @media (max-width: 767px) {
    .footer__logo {
      span {
        display: none;
      }
    }

    .anchor {
      display: none;
    }

    .phone-wrapper {
      margin-left: auto;
    }

    .footer__nav {
      flex: none;
      width: 100%;
    }
  }

  @media (max-width: 600px) {
    .footer__nav {
      margin-top: 48px;

      ul {
        flex-direction: column;

        li {
          margin-bottom: 14px;
        }
      }
    }
  }

  @media (max-width: 500px) {
    padding: 16px 0;

    .footer__logo {
      img {
        max-width: 60px;
      }
    }

    .phone-wrapper {
      width: auto;
    }

    .footer__text-wrapper {
      display: none;
    }

    .footer__bottom--type--mobile {
      border-top: 1px solid #8f8f8f;
      display: block;
      margin-top: 16px;
      padding-top: 10px;
    }
  }

  @media (max-width: $phoneWidth) {
    .phone-wrapper {
      font-size: 12px;
    }
  }
}