.nav {
  &--type--sidebar {
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform .25s;
    width: 100%;
    z-index: 10;
  }

  &--state--active {
    transform: translateX(0);
    transition: transform .25s;
  }

  .close-nav {
    background-color: transparent;
    border: none;
    color: $subSecondary;
    font-size: 24px;
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    position: absolute;
    right: 20px;
    top: 16px;
    width: 34px;
  }

  ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 20px;

    li {
      margin-bottom: 8px;

      a {
        border: none;
        display: flex;

        i {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url(../img/icons/arrow_down.svg);
          display: block;
          height: 10px;
          margin-left: 5px;
          margin-top: 1px;
          width: 10px;
        }
      }

      ul {
        background-color: #fff;
        display: none;
        height: auto;
        opacity: 0;
        padding: 10px 0;
        transition: opacity 2s;
        width: 100%;

        li {
          margin-bottom: 8px;
          width: 100%;

          &:last-of-type {
            margin-bottom: 0;
          }
        }

        &.show {
          display: block;
          animation: fade-in .25s ease-in-out forwards;
        }
      }
    }
  }

  @media (min-width: 320px) {
    width: 100%;
  }
  
  @media (min-width: 340px) {
    width: 90%;
  }

  @media (min-width: 500px) {
    width: 70%;
  }

  @media (min-width: 768px) {
    width: 60%;
  }
  
  @media (min-width: 900px) {
    width: 45%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}