.advantages{
	padding-top:0px;

		.section-heading {
			margin: 0;
			width: 50%;
		}

		.row {
			display:flex;
			margin-top:18px;
			color:#7d7d7d;
			line-height:24px;

			.col--left {
				width:75%
			}

			.col--right {
				width:15%;
			}
		}

		@media (max-width: $tabletWidth) {
			.section-heading {
				width: 65%;
			}

			.row{

				.col--left {
					width:100%;
				}

				.col--right {
					width:0%;
				}
			}
		}

		@media (max-width: $phoneWidth) {
			.section-heading {
				width: 100%;
			}

			.row {
				font-size:10px;
				margin-top:10px;
				line-height:14px;
			}
		}
}