form .form-control {
  background-color: #fff;
  border: 1px solid #717CFF;
  border-radius: 11px;
  color: #7D7D7D;
  font-size: 18px;
  outline: none;
  padding: 20px 24px;
}
form .legal {
  color: #313782;
  display: block;
  font-size: 12px;
  margin-top: 10px;
}
form .legal a {
  border-bottom: 1px solid currentColor;
  color: #313782;
}