.qwestions {
  padding-top: 0;
  padding-bottom: 0;
  background: #F1F1F1;

  .row {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap:wrap;
    justify-content: center;
    margin-left:-21px;
    margin-right:-21px;

    .col {
      padding:20px;
      width:33.33%;
    }
  }

  .content-block {
    background: #FFFFFF;
    display: flex;
    border-radius: 15px;
    padding:24px;
    position: relative;

    .text {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      font-size: 13px;
      line-height: 20px;

      .title {
        margin-top: auto;
        margin-bottom: auto;
        font-weight: 600;
        font-size: 16px;
        color: #37474F;
        line-height: 22px;
      }

      .more {
        border: 0;
        font-size: 12px;
        font-weight: 600;
        margin-top: 0px;
      }

      .full-link {
        border: none;
        height: 100%;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
      }

      .more.link--with-arrow:after {
        height: 8px;
        width: 8px;
      }
    }

      .icon {
        display: flex;
        align-items: flex-start;
      }
    }

  .swiper-container {
    display: none;

    .swiper-pagination {
      margin-top: 10px;
      margin-bottom: 15px;
      position: static;
    }
  }

  @media (max-width: 580px) {
    .qwestions-block {
      display: none;
    }

    .swiper-container {
      display: block;

      .qwestions-block{
        display: flex;
        min-height: initial;
        margin-top:20px;

          .col {
            padding: 0;
            width: 100%;
            margin: auto;
          }

          .content-block {

            .text {
              font-size: 12px;
              line-height: 18px;
              margin-right: 5px;

              .title {
                font-size: 14px;
                line-height: 18px;
              }
            }
          }
      }
    }
  }

  @media (max-width: $desktopWidth) {
    .qwestions {

      .content-block {
        width: auto;
        padding: 15px;

        .text {
          font-size: 10px;
          line-height: 15px;
          margin-right: 10px;

          .title {
            font-size: 12px;
            line-height: 16px;
          }
        }

        .icon {

          img {
            width: 25px;
          }
        }
      }
    }
  }

  @media (max-width: $tabletWidth) {

    .row{
      margin-left:-10px;
      margin-right:-10px;

      .col{
        padding:10px;

        .content-block{
          padding:15px;

          .text{
            margin-right:5px;
            font-size: 12px;;

            .title{
              font-size: 13px;
              line-height: 16px;
            }

          }

          .icon{

            img{
              width: 25px;
            }
          }
        }
      }
    } 
  }
}