.qwestions {
  padding-top: 0;
  padding-bottom: 0;
  background: #F1F1F1;

  .qwestions-block {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;

    .row {
      display: flex;
      padding-top: 40px;
      padding-bottom: 40px;

      .col {
        display: flex;
        flex-direction: column;
      }

      .col:nth-child(1) {
        margin-right: 40px;
      }

      .col:nth-child(3) {
        margin-left: 40px;
      }
    }

    .qwestions__item {
      width: 380px;
      background: #FFFFFF;
      display: flex;
      border-radius: 15px;
      padding: 24px;
      height: 100%;
      position: relative;

      .qwestions__item--text {
        display: flex;
        flex-direction: column;
        margin-right: 46px;
        font-size: 12px;
        color: #7D7D7D;
        line-height: 20px;


        .title {
          margin-top: auto;
          margin-bottom: auto;
          font-weight: 600;
          font-size: 16px;
          color: #37474F;
          line-height: 22px;
        }

        .more {
          border: 0;
          font-size: 10px;
          font-weight: 600;
          margin-top: 0px;
        }

        .full-link {
          border: none;
          height: 100%;
          position: absolute;
          width: 100%;
          left: 0;
          top: 0;
        }

        .more.link--with-arrow:after {
          height: 8px;
          width: 8px;
        }
      }

      .qwestions__item--icon {
        display: flex;
        align-items: flex-start;
      }
    }
  }

  .swiper-container {
    display: none;

    .swiper-pagination {
      margin-top: 10px;
      margin-bottom: 15px;
      position: static;
    }
  }

  @media (max-width: 580px) {
    .qwestions-block {
      display: none;
    }

    .swiper-container {
      display: block;

      .qwestions-block {
        display: flex;
        margin-left: 0;
        margin-right: 0;
        min-height: initial;

        .col {
          padding: 0;
          width: 100%;
          margin: auto;
        }

        .qwestions__item {
          margin-top: 15px;

          .qwestions__item--text {
            font-size: 10px;
            line-height: 18px;
            margin-right: 5px;

            .title {
              font-size: 12px;
              line-height: 16px;

            }
          }

          .qwestions__item--icon {

            .icon {
              width: 25px;
            }
          }
        }
      }
    }
  }

  @media (max-width: $desktopWidth) {
    .qwestions-block {
      flex-wrap: wrap;
      height: auto;

      .row {

        .col {
          width: 33.3333%;

        }

        .col:nth-child(1) {
          margin-right: 16px;
        }

        .col:nth-child(3) {
          margin-left: 16px;
        }
      }

      .qwestions__item {
        width: auto;
        padding: 15px;

        .qwestions__item--text {
          font-size: 10px;
          line-height: 15px;
          margin-right: 10px;

          .title {
            font-size: 12px;
            line-height: 16px;
          }
        }

        .qwestions__item--icon {

          .icon {
            width: 25px;
          }
        }
      }
    }
  }
}